h1 {
    color: purple;
}

body {
  margin: 0 auto 0 auto;
  max-width: 800px;
}

.image-header {
	width: 100%;
	height: auto;
}

#sourcetext {
	width: 60%;
	height: 150px;
}

#spineword {
	width: 60%;
}

.generatebuttonholder {
	max-width: 200px;
	width: 100%;
	margin: 0 auto 0 auto;
}

.generatebutton {
        max-width: 200px;
        width: 50%;
        float: left;
}

.clearbutton {
        max-width: 200px;
        width: 50%;
}

.warning {

    color: red;
    font-decoration: italic;
}
.textfont {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size: 14px;
	color:#000;
}

.purpletextfont {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size: 11px;
	color:#5C5C5C;
}

.titlefont {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size: 28px;
	color:#404;
}

.sectionfont {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size: 20px;
	color:#000;
}

.courierfont {
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace
	font-weight:normal;
	font-size: 14px;
	color:#000;
}

.spine{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
}


@media (min-width: 500px) and (max-width: 600px) {


}
