#mesostic_content {
	font-family: "Courier New", Courier, monospace, "Lucida Console", Monaco;
    white-space: pre;
    margin: 0 0 40px 0;
    display:block;
    font-size:13px;
    padding: 0 20px 0 20px;
}

#mesostic_form {
	width:100%;
	max-width: 100%;
	}


h1 {
    color: purple;
}

body {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 850px;
}

.body-contents {
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    max-width: 750px;
}


.image-header {
	width: 100%;
	height: auto;
	background-color: #959595;
}

#sourcetext {
	height: 150px;
		width: 80%;
}

#spineword {
	width: 80%;
}


.generatebuttonholder {
	max-width: 200px;
	width: 100%;
	margin: 0 auto 0 auto;
}

.generatebutton {
        max-width: 200px;
        width: 50%;
        float: left;
}

.clearbutton {
        max-width: 200px;
        width: 50%;
}

.warning {

    color: red;
    font-decoration: italic;
}


.textfont {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size: 14px;
	color:#000;
}


.description-text {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size: 11px;
	color:#5C5C5C;
	margin: 0 0 0 -5px;
}


.titlefont {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size: 28px;
	color:#404;
}

.sectionfont {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size: 20px;
	color:#000;
}

.courierfont {
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace
	font-weight:normal;
	font-size: 14px;
	color:#000;
}

.spine{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
}

.right-align {
	margin: 50px 30px 30px 0;
	display: block;
	float:right;
	}
	
/* I was trying to figure out a way to make the generated mesostic display better on mobile devices.
On iPhone 5S, mesostic spills beyond page width and leaves no margin/padding. cmart 10162015

@media (min-width: 10px) and (max-width: 1025px) {

body {
  max-width: 1250px;
  min-width: 1250px;
}

.body-contents {
    max-width: 1250px;
}

}


*/